<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="any">
    <script defer>
        const img_count = {{ img_count }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <header>
        {% block navigation %}
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
