<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KDN</title>
    <style>

    </style>
</head>
<body>
    <div>
        <iframe style="border-radius:12px; float: right" src="https://open.spotify.com/embed/track/1B7I1XSXciid0JztNLgH2U?utm_source=generator&theme=0" width="50%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <iframe style="border-radius:12px; float: left" src="https://open.spotify.com/embed/track/785DFGcVh3Z1DMZAMAzXFh?utm_source=generator&theme=0" width="50%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
</body>
</html>